.Nav {
    width: 100%;
    height: 30px;
    background-color: #506477;
}

.NavLink {
    padding: 5px;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    color: #beccd8
}

.NavLink:hover {
    background-color: #e4f0fb;
    color: #abb8c3;
}